<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add User</h1>
    <form th:action="@{/admin/users/save}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname" th:field="*{surname}">
        </div>
        <div class="form-group">
            <label for="department">Department:</label>
            <input type="text" class="form-control" id="department" th:field="*{department}">
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" class="form-control" id="salary" th:field="*{salary}">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <div class="form-group">
            <label for="roles">Roles:</label>
            <select multiple class="form-control" id="roles" th:field="*{roles}" th:options="${allRoles}">
                <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role.name}"></option>
            </select>
        </div>
        <input type="submit" value="Save"><input>
    </form>
</div>
</body>
</html>
